{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Me</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Me. I am Happy To
            Help.</p>
    </div>
</div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Jeffi Japheth Jupudi</h3>
                <p class="lead" style="font-weight: 350;"> Enthusiastic Full Stack Developer and Achieving Excellence in
                    every Project. My Proactive Approach and Dedication to Collaboration are the Cornerstones of my Professional
                    Ethos, Eager to bring these Qualities to a Dynamic Team Settings. Passionate about Leveraging Skills to Foster
                    a  Thriving Team Environments and Constantly Pursuit of Opportunities for Growth and Development.
                </p>
            </center>
        </p>
            <div>
                <h5>Follow me on :</h5><br>
                <a target="_blank" href='mailto:jeffijapheth428@gmail.com'> 
                    <i class="fa-solid fa-envelope" style="font-size: 20px;"></i></a> :
                     jeffijapheth428@gmail.com<br><br>
                <a target="_blank" href='https://github.com/JJapheth03'> 
                    <i class="fa-brands fa-github" style="font-size: 20px;"></i></a> :
                    JJapheth03<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/jeffi-japheth-jupudi-0064321a2/'>
                 <i class="fa-brands fa-linkedin" style="font-size: 20px;"></i></a> :
                Jeffi Japheth Jupudi<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}